<div style="justify-content: center; align-items: center;display: flex;">

<mat-list >
    <mat-list-item>
        <span style="text-align: center;font-weight: 800;display: flex;justify-content: center;" matListItemTitle>Compra</span>
        
      </mat-list-item>
    <div style="height: 200px;height: 200px;display: flex;align-items: center;justify-content: center;flex-direction: column;" id="divCompra2">
      <br>
      <br>
      <br>
      <p></p>
      <p style="color: black;font-size: medium;margin-top: 100px;" id="atakF"></p>
      <p style="color: black;font-size: medium;;margin-top: 50px;" id="srF"></p>
      <p style="color: black;font-size: medium;margin-top: 50px;" id="bigF"></p>
      <p style="color: black;font-size: medium;margin-top: 50px;" id="roomF"></p>
      <p style="color: black;font-size: medium;margin-top: 50px;" id="darkSF"></p>
      <p style="color: black;font-size: medium;margin-top: 50px;" id="callingF"></p>

    </div>

     
      <mat-stepper style="margin-top: 300px;width: 400px;" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Name</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="address">
          <form [formGroup]="secondFormGroup">
            <mat-form-field appearance="fill">
              <mat-label>mail</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="ex: info@hdcm.es"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Paypal</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput placeholder="paypal" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
             
            </div>
          </form>
        </mat-step>    
        
        <mat-step>
          <ng-template matStepLabel>Listo</ng-template>
          <p>Pulsa la flecha para efectuar la compra</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button id="procesoPago"  matIconButton routerLink="/dashboard/beatstore" ><mat-icon>arrow_right_alt</mat-icon></button>
          </div>
        </mat-step>
      </mat-stepper>
    
  </mat-list>
</div>