<h1 style="margin-left: 34%;margin-top: 5%;">𝓕𝓞𝓡𝓜𝓤𝓛𝓐𝓡𝓘𝓞 𝓓𝓔 𝓡𝓔𝓖𝓘𝓢𝓣𝓡𝓞 𝓗𝓓𝓒𝓜</h1>
<div style="justify-content: center;align-items: center;margin-left: 40%;margin-top: 5%;">
<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Primer Apellido</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Segundo Apellido</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <div style="padding-left: 4%;">
  <button style="width: 15%;" type="submit"  mat-raised-button color="primary">Registrarme</button>
    </div>  
</div>