.spacer {
    flex: 1 1 auto;
    background-color: #ffcc3d;
  }
.toolbar{
  background-color: black;
}
.button{
  background-color: rgba(240, 248, 255, 0);
  cursor: pointer;
  border-color: black;
  
}
.color{
  color: #ffcc3d
}