<div style="height: 5px;background-color: #ffcc3d;"></div>
<div style="background-color: rgb(0, 0, 0);display: block;align-items: center;justify-content: center;height: 800px;">
    <img style="height: 500px;width: 800px;margin-left: 850px;" src="../../../../assets/img/AALDEA LOGOTIPO FINAL-04.png" alt="">
    <H1 style="font-size: xx-large;color: #ffcc3d;margin-left: 1050px;font-weight: bold;margin-top: 0px;">O Lar da periferia cultural.</H1>
                

</div>
<div style="background-color: whitesmoke;display: flex;align-items: center;justify-content: center;height: 800px;margin-bottom: 0px;">
    <div style="margin-left: 400px;margin-top: 0px;margin-right: 300px;">
    <H1 style="font-size: 50px;color: #ffcc3d;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Productora</H1>
    <br>
    <H4 style="width: 600px;font-size: 25px;">N'AAldea contamos con estudo propio dende o que ofrecemos servizos técnicos de audio como mestura, mastering por stems, mastering, grabación e produción musical, ca posibilidade de traballar en persoa ou a distancia. A nosa equipa conta con ampla experiencia no campo da produción musical profesional e medios técnicos elexidos e adaptados ás técnicas e tendencias actuais, de carácter eminentemente dixital e innovador.</H4>
    <br>            
    <H4 style="width: 600px;font-size: 25px;">Mesmo asi, contamos cunha equipa de produción audiovisual ca que desenrolamos proxectos coma videoclips, podcasts, sesións en directo ou material para redes, con profesionais de gran percorrido no sector.</H4>
    </div>
    <img style="height: 600px;" src="../../../../assets/img/127_orig.jpg" alt="">
</div>
<div style="background-color: rgb(0, 0, 0);display: flex;align-items: center;justify-content: center;height: 800px;margin-bottom: 0px;">
    <div style="margin-left: 800px;margin-top: 0px;margin-right: 250px;">
    <H1 style="font-size: 50px;color: #ffcc3d;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;margin-left: 150px;">AXENCIA</H1>
    <br>
    <H4 style="width: 600px;font-size: 30px;color: #ffcc3d;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;margin-right: 500px;">POR ARTISTAS + PARA ARTISTAS</H4>
    <br>            
    <H4 style="width: 600px;font-size: 25px;color: #ffcc3d;font-weight:lighter;font-family: Georgia, 'Times New Roman', Times, serif;">​Somos unha axencia de representación fundada e xestionada por artistas,
        centrada nos intereses, prioridades e necesidades vitais e creativas do artista.
        Deste xeito, proxectamos e desenrolamos as súas carreiras a medio e longo prazo,
        atopamos os aliados chave para cada proxecto e supervisamos
        o seu crecemento e desempeño profesional.</H4>
    </div>
</div>
<div style="background-color: whitesmoke;display: flex;align-items: center;justify-content: center;height: 800px;margin-bottom: 0px;">
    <div style="margin-left: 400px;margin-top: 0px;margin-right: 300px;">
    <H1 style="font-size: 50px;color: #ffcc3d;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">DISCOGRÁFICA</H1>
    <br>
    <H2 style="width: 600px;font-size: 32px;height: 30px;">O FOCO NA ESCEA 'RUR-URBÁ'</H2>
    <br>            
    <H4 style="width: 600px;font-size: 25px;">Aposta pola escea 'rur-urbá': os artistas independentes sen aceso aos círculos de influencia da industria, coa fin de ofrecerlles vías reais de desenrolo artístico profesional. 
        Especializados en música urbana e nos mercados galego e español, planificamos o márketing dixital e delivery do producto, mellorando o seu posicionamiento e aportando distintas solucións gráficas personalizadas. </H4>
    </div>
    <img style="height: 600px;" src="../../../../assets/img/127_orig.jpg" alt="">
</div>
<div style="background-color: rgb(0, 0, 0);display: flex;align-items: center;justify-content: center;height: 800px;">
    
    <div style="background-color: #000000;width: 600px;">
        <H1 style="font-size: 50px;color: #ffffff;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Contacto</H1>
        <br>
        <H2 style="width: 600px;font-size: 32px;height: 30px;color: #ffffff">Queremos sabelo todo!</H2>
    </div>
    <div style="width: 1000px;display: flex;align-items: center;justify-content: center;display:flex ; flex-direction: column;">
        <form style="display: flex;flex-direction: row;" action="#" method="post">
            <div>
            <label style="color:#ffffff;font-size:23px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;width: 30%;" for="firstName">Nombre:</label>
            <br>
            <br>
            <input style="width: 300px;height: 50px;" type="text" id="firstName" name="firstName" required><br><br>
        
            <label style="color:#ffffff;font-size:23px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;" for="lastName">Apellido:</label><br>
            <input style="width: 300px;height: 50px;" type="text" id="lastName" name="lastName" required><br><br>
        
            <label style="color:#ffffff;font-size:23px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;" for="email">Email:</label><br>
            <input style="width: 300px;height: 50px;" type="email" id="email" name="email" required><br><br>
            </div>
            <div style="margin-left: 250px;">
            <label style="color:#ffffff;font-size:23px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;" for="message">Mensaje:</label><br><br>
            <textarea style="width: 500px;height: 200px;" id="message" name="message" rows="4" required></textarea><br><br>
        
            <label style="color:#ffffff;font-size:23px;font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;" for="whoToTalk">Con quén queres falar?</label><br><br>
            <select style="width: 400px;height: 100px;font-size: 32px;" id="whoToTalk" name="whoToTalk" required>
                <option style="font-size: 32px;" value="productora">Productora</option>
            </select><br><br>
        
            <input style="width: 200px;height: 70px;" type="submit" value="Enviar">
        </div>
        </form>
    </div>
    
                

</div>