<div class="container">
    <mat-toolbar style="background-color: black;">
        
        <span style="color:yellow;" class="letra">𝓒𝓞𝓝𝓣𝓐𝓒𝓣𝓞</span>
    
    </mat-toolbar>
    <div style="display: flex;align-items: center;justify-content: center;margin-top: 100px;">
    <form action="mailto:info@hdcm.es" method="post" name="formContacto">
        <label for="nombre">Nombre: </label>
        <br>
        <input id="nombre" name="nombre" type="text" />
        <br>
        <label for="email">Email: </label>
        <br>
        <input id="email" name="email" type="text" />
        <br>
        ¿Tienes alguna duda u opinión? Háznosla saber!
        <br>
        <textarea style="height: 200px;width: 300px;" id="opinion" name="opinion"></textarea>
        <br>
        <div style="margin-left: 40%;margin-top: 10%;">
          <input name="Submit" type="submit" value="Enviar" />
          <br>
          <img  style="height: 50px;width: 50px;margin-top: 20px" src="../../../../assets/img/fotor_2023-2-26_12_25_48.png" alt="logo">
        </div>
      </form>
      
    </div>
