<div style="background-image: url(../../../../assets/img/IMG-6133.jpg);width: 145vh;height: 94vh;">
    <div class="container">
        <mat-toolbar style="background-color: black;">
            
            <span style="color:rgb(255, 255, 255);color: yellow;" class="letra">𝓗𝓞𝓜𝓔</span>
        
        </mat-toolbar>

        <div style="display: flex;flex-direction: row; margin-left: 43px;margin-right: 600px;margin-top: 40px;">

                
                <div style=" margin-right: 10px;border: 1dvh;width:400px ;">
                    <mat-card style="background-image: url(../../../../assets/img/lluvia.gif);align-items: center;display: flex;flex-direction:column ;justify-content: center;align-items: center;width: 400px;margin-left: 100px;">
                        <mat-card-header>
                        <h1 style="align-items: center;display: flex;justify-content: center;font-family: sans-serif;color: rgb(251, 255, 5);">𝓗𝓓𝓒𝓜</h1>
                        
                    </mat-card-header>
                    
                    <mat-card-content style="display: flex;flex-direction: column;align-items: center;">
                    <img style="width:200px ;height:200px ;border-radius: 3px;" src="../../../../assets/img/perfil1.jpg" alt="">
                    <br>
                    <mat-card-footer style="background-color: rgba(255, 238, 0, 0.781);width: 200px; height: 350px;">
                    <p style="width: 200px;">HDCM es un productor Gallego que actualmente trabaja junto a Sky J y C.mirazo en sus ultimas producciones.
                        Formando parte de AAldea Music. </p> <p>Los estilos característicos suelen ser trap y reggaeton con un toque Dark. 
                    </p>
                    <br>
                    <p style="font-weight: 400;">𝕮𝖔𝖓𝖙𝖆𝖈𝖙𝖔: prodbycmalditxxx@gmail.com</p>
                    <br>
                    <p style="font-weight: 400;">𝕮𝖔𝖓𝖙𝖆𝖈𝖙𝖔: aaldeamusic@gmail.com</p>
                </mat-card-footer>
                <img style="width: 300px;height: 130px;margin-bottom: 0px;" src="../../../../assets/img/gifEQ.gif" alt="">
                </mat-card-content>
                

                    </mat-card>
                </div>
            


                <div style="height: 300px;width: 200px;margin-left: 30%;display: flex;flex-direction: row;margin-left: 100px;">
            
                    
                <div style="background-color: black;">
                    <div style="align-items: center;justify-content: center;display: flex;background-color: yellow;">
                    <h2 style="color: rgb(0, 0, 0);margin-top: 10px;" >Ú𝓛𝓣𝓘𝓜𝓐𝓢 𝓒𝓞𝓛𝓐𝓑𝓞𝓡𝓐𝓒𝓘𝓞𝓝𝓔𝓢</h2>
                    </div>
                    
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/videoseries?list=PLg9vsWxxmGTLKDuXU63dEeGmMwZqQtjtf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    
                </div>   

                <div style="background-color: rgb(0, 0, 0);">
                    <div style="align-items: center;justify-content: center;display: flex;background-color: yellow;">
                    <h2 style="color: rgb(0, 0, 0);background-color: rgba(255, 255, 255, 0);margin-top: 10px" >Ú𝓛𝓣𝓘𝓜𝓞𝓢 𝓑𝓔𝓐𝓣𝓢</h2>
                    </div>
                    <iframe width="350" height="200" src="https://www.youtube.com/embed/videoseries?list=PLg9vsWxxmGTK_Ca_goAAKpAB3-9Ztp2hk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    

                    
                </div>  
                <div>
                    <div style="align-items: center;justify-content: center;display: flex;background-color: yellow;">
                        <h2 style="color: rgb(0, 0, 0);background-color: rgba(255, 255, 255, 0);margin-top: 10px" >𝓡𝓔𝓓𝓔𝓢 𝓢𝓞𝓒𝓘𝓐𝓛𝓔𝓢s</h2>
                        </div>
                    <iframe style="background-color: black;" width="300" height="240" src="https://www.instagram.com/p/B9XfYEsKZWG/embed" frameborder="0"></iframe>
                   
                    
                    
                </div>

                </div>
                <div style="margin-top: 400px;margin-left: 150px;">
                    <img style="width: 300px;height: 300px;" src="../../../../assets/img/fotor_2023-2-26_12_25_48.png" alt="">
                </div>

        </div>

    </div>

</div>
