
<div style="height: 5px;background-color: #ffcc3d;"></div>
<div style="background-color: black;height: 100%;">
<mat-toolbar style="background-color: black;display: flex;flex-direction: column;align-items: center;justify-content: center;">
            
  
  <img style="height: 200px;width: 400px;margin-top: 350px;" src="../../../assets/img/AALDEA LOGOTIPO FINAL-04.png" width="40%">
</mat-toolbar>



  
    

<div class="body" style="margin-top: 200px;">
  
  <div class="login" >
      <mat-spinner *ngIf="loading" diameter="50" class="spinner" ></mat-spinner> 

      <form style="display: flex;flex-direction: column;align-items: center;justify-content: center;" *ngIf="!loading" [formGroup]="form" (ngSubmit)="entrar()">
        
        <div class="bg-1">
    
          <h1 class="t-stroke t-shadow">LOGIN</h1>
       
       </div>
    
        
        <br>
        <mat-form-field style="width: 300px;" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="usuario">
          </mat-form-field>
          <mat-form-field style="width: 300px;"  appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput autocomplete="off" formControlName="password">
          </mat-form-field>
          <br>
          <button  style="width: 60%; height: 60px;" type="submit"  mat-raised-button color="primary">Entrar</button>
          <br>
          <br>
          <button style="width: 60%; height: 60px;" routerLink="/dashboard/registro" style="width: 60%;height: 60px;" mat-raised-button color="primary">Registrarse</button>
      </form>
      
    </div>
</div>
</div>
